<h1>Contracts</h1>
{{outlet}}

{{#data-table content=model filter=filter sort=sort page=page size=size isLoading=isLoadingModel as |t|}}
    {{#t.menu as |menu|}}
        {{#menu.general}}
            {{#paper-button  accent=true noInk=true}}Export{{/paper-button}}
            {{#paper-button  accent=true noInk=true}}Print{{/paper-button}}
        {{/menu.general}}
        {{#menu.selected as |selection datatable|}}
            {{#paper-button  accent=true noInk=true}}Delete{{/paper-button}}
        {{/menu.selected}}
    {{/t.menu}}
    {{#t.content as |c|}}
        {{#c.header}}
            {{th-sortable field='tenant.name' currentSorting=sort label='Name'}}
            {{th-sortable field='startDate' currentSorting=sort label='Start Date'}}
            {{th-sortable field='endDate' currentSorting=sort label='End Date'}}
            {{th-sortable field='room' currentSorting=sort label='Room'}}
        {{/c.header}}
        {{#c.body as |row|}}
            <td {{action 'rowClicked' row}}>{{row.tenant.name}}</td>
            <td {{action 'rowClicked' row}}>{{row.startDate}}</td>
            <td {{action 'rowClicked' row}}>{{row.endDate}}</td>
            <td {{action 'rowClicked' row}}>{{row.room.name}}</td>
        {{/c.body}}
    {{/t.content}}
{{/data-table}}
